*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}
body {
  margin: 0;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --cornflower: rgba(231, 233, 252, 1);
  --iris: rgba(77, 90, 229, 1);
  --navy-blue: rgba(46, 47, 66, 1);
  --slate: rgba(67, 68, 85, 1);
  --cloud: rgba(244, 244, 253, 1);
  --ocean: rgba(64, 75, 191, 1);
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 297px;
  padding: 0 15px;
  border: 0px;
}

.link {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 500;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.flex-header {
  display: flex;
  margin: 0 156px;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline;
}

h1 {
  height: 600px;
}

.logo-studio {
  color: var(--navy-blue);
}

address {
  font-style: normal;
}

.list.address {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: end;
}

.list {
  list-style: none;
}

.nav {
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  padding-left: 76px;
  gap: 40px;
}

.contacts {
  color: var(--slate);
  font-weight: 400;
}

.contacts-flex {
  margin-left: 0 940px;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

h1.hero-header {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  background-color: var(--navy-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
}

.button.text:hover,
.button.text:focus {
  color: var(--ocean);
  background-color: var(--white);
}

.element-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team {
  background-color: var(--white);
}

.element-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-background-color {
  background-color: var(--navy-blue);
}

.logo-footer {
  color: var(--cloud);
}

.element-content.footer {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button.menu {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);

  border-radius: 4px;
}

.button.menu:active {
  color: var(--white);
  background-color: var(--ocean);
}
.button.menu:hover,
.button.menu:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
